.App {
  text-align: center;
  background-image: url("https://images.alphacoders.com/736/736461.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.photo {
  padding-bottom: 30px;
  padding-top: 100px;
  margin: 0 auto;
  border-radius: 50%;
}

.profile-picture {
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  font-size: 24px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding: 30px;
  font-size: 20px;
}

.instagram {
  background-color: rebeccapurple;
  padding: 30px;
  width: 85%;
  margin: auto;
  border-radius: 80px;
  margin-bottom: 30px;
}

.github {
  background-color: #4078c0;
  padding: 30px;
  width: 85%;
  margin: auto;
  border-radius: 80px;
  margin-bottom: 30px;
}

.linkedIn {
  background-color: royalblue;
  padding: 30px;
  width: 85%;
  margin: auto;
  border-radius: 80px;
  margin-bottom: 30px;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

button {
  font-family: bold;
  font-size: 18px;
}
